{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}
    

<div class="container"></div>
<h2>UPDATE YOUR TODO</h2> 
</div>

</div>
<form action="/update/{{todo.sno}}" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Todo title</title></label>
    <input type="text" class="form-control" name="title"  value="{{todo.title}}" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Todo description</label>
    <input type="text" class="form-control" name="desc" value="{{todo.desc}}" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>



  {% endblock body %}